# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
dist/
build/
*.egg-info/
.eggs/

# Environment
.env
.env.local

# Spark / Delta
spark-warehouse/
derby.log
metastore_db/
data/raw/
data/delta/
data/gold_sample/

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Test
.pytest_cache/
.coverage
htmlcov/
screenshot.png
